aws:
  access-key-id: 'test'
  secret-key: 'test'
  region: 'us-east-1'
  dynamodb:
    endpoint: 'http://localhost:4566'
    tables:
      banking-entities:
        table-name: 'bank-entities-localstack'