<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                {"timestamp":"%date{ISO8601}","level":"%level","thread":"%thread","logger":"%logger","message":"%msg","bankAccountId":"%X{bankAccountId:-}","accountHolderId":"%X{accountHolderId:-}"}%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
